body {
  scroll-behavior: smooth;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: black;
  display: flex;
  background-color: #fae6fa;
  height: 100%;
}

.navbar {
  background-color: #c8a2c8;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
}

.logo img {
  max-width: 120px;
  height: auto;
  align-items: center;
}

.nav-item a {
  color: black;
}

.nav-item:hover {
  background-color: white;
}
.home-page {
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

.post-header {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

#pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.quote p {
  font-style: italic;
  color: rgb(126, 125, 125);
}

.quote h3 {
  display: flex;
  justify-content: flex-start;
}

.bio-page {
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

.img {
  height: 30vh;
  width: 30vw;
  margin: 2rem;
  border: solid black 1px;
}

.Hobbies {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.Hobbies h4 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobby {
  display: flex;
}
main {
  max-width: auto;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
